# HTTPS server

server {
    server_name {{ public_name }}
    listen 443;
    auth_basic "Enter password for your job.";
    auth_basic_user_file /opt/h2oai/htpasswd;

    root html;
    index index.html index.htm;


    # Proxy calls to a locally running IPython server
    location / {
        proxy_pass http://localhost:8888;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Origin "";
    }
}
